.form-input {
    border-radius: 16px;
    border: 1px solid var(--current-color);
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-input__property {
    padding: 12px;
    font-size: 20px;
    display: flex;
    align-items: start;
}

.form-input__input-field {
    margin-left: 12px;
}

.form-input__warning {
    color: darkred;
}

